/*==========================================
GENERAL STYLES
==========================================*/

html {
    box-sizing: border-box;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: 'Open Sans', 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 400;
    color: #2B497F;
}

h2,
h3 {
    margin: 1.5rem 0;
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    margin-bottom: 1.5rem;
}

p,
strong,
em {
    font-size: 1rem;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ul {
    list-style: square;
}

figcaption {
    font-style: italic;
    font-size: 0.9rem;
}

@media (max-width: 768px) and (orientation: landscape) {
    html {
        text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
}

/*==========================================
 UTILITY CLASSES
 ==========================================*/

 .bold {
    font-weight: bold;
}

/*==========================================
 HEADER STYLES
 ==========================================*/

.logo {
    height: 100%;
    width: auto;
    filter: invert(100%) brightness(300%) contrast(300%);
}

header div.logo-banner {
    height: 5.4rem;
    padding: 0.5rem;
    background-color: #2B497F;
}

/*==========================================
NAVIGATION STYLES
==========================================*/

/* Minimum height allows space for the toggle button even when no menu items are shown */
nav.website-navigation {
    min-height: 3.5rem;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Hide the navigation menu by default on small screens */
nav.website-navigation ul.parent-navigation-list {
    display: none;
}

/* Show the navigation menu when it has the 'active' class */
nav.website-navigation ul.parent-navigation-list.active {
    display: block;
    font-size: 0.9rem;
    list-style: none;
    background-color: #2B497F;
    margin: 0;
    padding: 0;
}

button.nav-toggle-button {
    box-sizing: border-box;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    background-color: inherit;
    font-size: 1.25rem;
}

button.nav-toggle-button:hover,
button.nav-toggle-button:focus-visible {
    color: #888;
}

nav.website-navigation ul.parent-navigation-list>li {
    min-height: 2.5rem;
    border-top: 1px solid white;
}

nav.website-navigation ul.parent-navigation-list>li:last-child {
    border-bottom: 1px solid white;
}

nav.website-navigation li:hover,
nav.website-navigation li:focus-within {
    background-color: #BDD0F1;
    color: #2B497F;
}

nav.website-navigation li:hover *,
nav.website-navigation li:focus-within *,
nav.website-navigation li:hover .fa,
nav.website-navigation li:focus-within .fa {
    color: inherit;
}

nav.website-navigation li>a,
nav.website-navigation li>button {
    color: #fff;
    background-color: inherit;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 0 0 1rem;
}

nav.website-navigation li>a {
    display: block;
}

nav.website-navigation li>button {
    border: none;
    text-align: left;
    font-size: inherit;
    padding: 0 0 0 1rem;
}

nav.website-navigation li>button:hover {
    cursor: pointer;
}

nav.website-navigation li .fa {
    margin: 0 0.5rem;
    color: #BDD0F1;
}

/* Special padding setting for navigation list items with no icons
This setting allows the text to align with other items that do have icons */
nav.website-navigation li a.nav-no-icon {
    padding-left: 2.9rem;
}

nav.website-navigation ul.child-navigation-list {
    display: none;
}

nav.website-navigation li.contains-child-navigation-list.active ul.child-navigation-list {
    display: block;
}

nav.website-navigation ul.child-navigation-list {
    list-style: none;
    padding: 0.5rem 0 0.5rem 2.5rem;
    background-color: #2B497F;
    color: white;
}

nav.website-navigation ul.child-navigation-list li:hover,
nav.website-navigation ul.child-navigation-list li:focus-within {
    background-color: #2B497F;
}

nav.website-navigation ul.child-navigation-list li>a {
    font-weight: normal;
    line-height: 1.75rem;
    height: 1.75rem;
    display: revert;
}

nav.website-navigation ul.child-navigation-list li>a:hover,
nav.website-navigation ul.child-navigation-list li>a:focus {
    text-decoration: underline;
    font-weight: 700;
}


/*==========================================
MAIN CONTENT STYLES
==========================================*/

.title-banner {
    background-color: #BDD0F1;
    padding: 1rem;
}

.title-banner h1 {
    font-weight: 300;
    margin-top: 0;
}

.body-text-list li {
    margin: 0.75rem 0;
}

.in-text-reference {
    font-size: 0.9rem;
    font-style: italic;
}

/** Breadcrumb styles **/

ul.breadcrumb {
    list-style: none;
    padding-left: 0;
    font-size: 0.9rem;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    content: "/\00a0";
    padding: 0 0.5rem;
}

ul.breadcrumb li a {
    color: #2B497F;
    text-decoration: none;
    font-weight: 400;
}

ul.breadcrumb li a:hover,
ul.breadcrumb li a:focus {
    text-decoration: underline;
    font-weight: 700;
}

.narrow {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

/*==========================================
FIGURE AND DIAGRAM STYLES
==========================================*/

/** Distress puddle **/

.puddle-figure {
    max-width: 450px;
    display: flex;
    flex-flow: column;
    margin: 1.5rem auto;
}

.puddle-figure div {
    border: 1px solid black;
    margin: 1rem 0.5rem;
    border-radius: 50%;
}

.puddle-figure p {
    text-align: center;
    margin-top: 1.5rem;
}

.puddle-figure img {
    width: 75%;
    height: auto;
    max-width: 487px;
    display: block;
    margin: 0 auto;
}

.outermost-puddle {
    display: flex;
    flex-flow: column;
}

/* Distress log/diary */

.example-distress-log {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 90vw), 1fr));
    margin: 2.5rem 0;
}

.example-distress-log dt {
    font-weight: bold;
}

.example-distress-log dd {
    margin-bottom: 1rem;
}

.example-distress-log span.rating-scale {
    display: block;
    font-size: 0.9rem;
    font-style: italic;
}

.example-distress-log article {
    border: 2px solid #2B497F;
    border-radius: 0.5rem;
    background-color: #E9F0FF;
    padding: 0.5rem 1rem;
}

/** Distress tolerance continuum **/
.distress-tolerance-continuum {
    margin: 3rem 0;
    position: relative;
}

.distress-tolerance-continuum .vertical-arrow {
    width: 4px;
    margin: 1rem auto 1rem 20%;
    position: relative;
    background: #444;
}

.distress-tolerance-continuum .vertical-arrow,
.continuum-label-container {
    height: 25rem;
}

.distress-tolerance-continuum .vertical-arrow::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #444;
}

.distress-tolerance-continuum .vertical-arrow::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #444;
}

.continuum-label-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc(20% + 4px);
}

.continuum-label {
    margin: 0 0 0 1.5rem;
}

.distress-tolerance-continuum figcaption {
    margin-top: 2rem;
}

/** Distress Intolerance Model **/
.distress-intolerance-model {
    display: flex;
    flex-flow: column;
    row-gap: 0.5rem;
    margin: 2.5rem;
}

.distress-intolerance-model figcaption {
    font-size: 1.1rem;
    text-align: center;
    font-style: normal;
}

.distress-intolerance-model h4 {
    margin: 0;
}

.distress-intolerance-model section {
    border: 2px solid #2B497F;
    border-radius: 0.5rem;
    background-color: #E9F0FF;
    padding: 0.5rem 1rem;
}


.distress-intolerance-model .examples {
    font-style: italic;
    font-size: 0.9rem;

    /* The margin-bottom is set to 4rem so that blank space appears in the flow chart box,
    signifying that the reader should "write" their own answers in the blank space */
    margin: 0 0 4rem;
}

.distress-intolerance-model .fa {
    width: 100%;
}

.distress-intolerance-model .fa-long-arrow-down {
    font-size: 2rem;
}

.distress-intolerance-model .fa-plus {
    font-size: 1.5rem;
}

.distress-intolerance-model h4,
.distress-intolerance-model .examples,
.distress-intolerance-model div,
.distress-intolerance-model .repeat-cycle {
    text-align: center;
}

.distress-intolerance-model p:not(.examples):last-child {
    margin-bottom: 1rem;
}

.distress-intolerance-model p .fa-repeat {
    display: inline;
    font-size: 2rem;
}

.distress-intolerance-model p .fa-repeat::after {
    content: " ";
}

/*==========================================
ACTIVITY SECTION STYLES
==========================================*/

section.activity {
    border: 2px solid #2B497F;
    border-radius: 0.5rem;
    padding: 0 1rem;
    margin: 2rem 0;
}

.note,
.note strong {
    font-size: 0.9rem;
}

/*==========================================
SECTION NAVIGATION STYLES
==========================================*/

.section-navigation {
    margin: 2.5rem auto;
    border: 1px solid #AAC0E8;
    border-radius: 0.5rem;
    overflow: hidden;
}

.section-navigation>* {
    margin: 0;
}

.section-navigation h2 {
    background-color: #BDD0F1;
    font-size: 1rem;
    font-weight: bold;
}

.section-navigation h2,
.section-navigation ul li {
    border-bottom: 1px solid #AAC0E8;
}

.section-navigation ul li:last-child {
    border-bottom: none;
}

.section-navigation h2,
.section-navigation a,
.section-navigation li.open-section {
    padding: 0.5rem 0.8rem;
}

.section-navigation ul {
    list-style: none;
    padding: 0;
}

.section-navigation li a,
.section-navigation li {
    color: #2B497F;
}

.section-navigation a {
    display: block;
    width: 100%;
    height: 100%;
}

.section-navigation a:hover,
.section-navigation a:focus-within {
    background-color: #E9F0FF;
    text-decoration: none;
    outline: none;
}

.section-navigation .open-section {
    background-color: #E9F0FF;
    font-weight: 600;
}




/*==========================================
FOOTER STYLES
==========================================*/

footer p,
footer address,
footer dl {
    font-size: 0.9rem;
}

.contact-us {
    background-color: #2B497F;
    padding: 1.25rem 3.5rem;
}

.contact-us * {
    color: white;
}

.contact-us h2 {
    margin: 1rem 0;
}

.contact-us a:hover,
.contact-us a:focus {
    text-decoration: none;
}

.contact-us dt,
.contact-us dd {
    display: inline-block;
}

.contact-us dt::after {
    content: ": ";
}

.contact-us dd {
    margin-left: 0;
}

.contact-us address {
    margin-bottom: 1rem;
}

.copyright {
    color: #2B497F;
    width: 90%;
    margin: 0 auto;
}

.copyright p {
    text-align: center;
}

.copyright a:link {
    color: #2B497F;
}

.copyright a:visited {
    color: grey;
}

.copyright a:hover,
.copyright a:focus {
    text-decoration: none;
    color: #BDD0F1
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.6rem;
    justify-content: space-evenly;
}

.footer-links li {
    flex: 1 1 auto;
    text-align: center;
}

.acknowledgement-of-country {
    font-size: 0.96rem;
    font-style: italic;
}

.small-footer-text {
    font-size: 0.7rem;
}

#wa-gov-website-link {
    display: block;
    text-align: center;
}