* {
    font-family: 'Open Sans', 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header div.logo-banner {
    height: 5rem;
    padding: 0.5rem;
    background-color: #2B497F;
}

nav {
    min-height: 3rem;
    background-color: #fff;
    position: sticky;
    top: 0;
}

nav ul {
    display: none;
}

button.nav-toggle-button {
    box-sizing: border-box;
    height: 3rem;
    aspect-ratio: 1 / 1;
    border: none;
    background-color: inherit;
}

img {
    height: 100%;
    width: auto;
    filter: invert(100%);
}

h1,
h2,
h3 {
    font-family: 'Open Sans', 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'Open Sans', 'Segoe UI Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-margin-after: 0.5em;
    line-height: normal;
    color: #2B497F;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

p,
strong,
em {
    font: 1rem/1.35 'Open Sans', 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

body {
    margin: 0;
}

.title-banner {
    background-color: #BDD0F1;
    padding: 1rem;
}

.title-banner h1 {
    font-weight: 300;
    margin-top: 0;
}

/** Breadcrumb styles **/

ul.breadcrumb {
    list-style: none;
    padding-left: 0;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    content: "/\00a0";
    padding: 0 0.5rem;
}

ul.breadcrumb li a {
    color: #2B497F;
    text-decoration: none;
    font-weight: 400;
}

ul.breadcrumb li a:hover,
ul.breadcrumb li a:focus {
    text-decoration: underline;
    font-weight: 700;
}   

.narrow {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

/** Open Sans font CSS **/

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}