/*==========================================
GENERAL STYLES
==========================================*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: 'Open Sans', 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 400;
    -webkit-margin-after: 0.5em;
    line-height: normal;
    color: #2B497F;
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p,
strong,
em {
    font-size: 1rem;
    line-height: 1.35;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/*==========================================
 HEADER STYLES
 ==========================================*/

.logo {
    height: 100%;
    width: auto;
    filter: invert(100%) brightness(300%) contrast(300%);
}

header div.logo-banner {
    height: 5.4rem;
    padding: 0.5rem;
    background-color: #2B497F;
}

/*==========================================
NAVIGATION STYLES
==========================================*/

/* Minimum height allows space for the toggle button even when no menu items are shown */
nav {
    min-height: 3.5rem;
    background-color: #fff;
    position: sticky;
    top: 0;
}

/* Hide the navigation menu by default on small screens */
nav ul.parent-navigation-list {
    display: none;
}

/* Show the navigation menu when it has the 'active' class */
nav ul.parent-navigation-list.active {
    display: block;
    font-size: 0.9rem;
    list-style: none;
    background-color: #2B497F;
    margin: 0;
    padding: 0;
}

button.nav-toggle-button {
    box-sizing: border-box;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    background-color: inherit;
    font-size: 1.25rem;
}

button.nav-toggle-button:hover,
button.nav-toggle-button:focus-visible {
    color: #888;
}

nav ul.parent-navigation-list>li {
    min-height: 2.5rem;
    border-top: 1px solid white;
}

nav ul.parent-navigation-list>li:last-child {
    border-bottom: 1px solid white;
}

nav li:hover,
nav li:focus-within {
    background-color: #BDD0F1;
    color: #2B497F;
}

nav li:hover *,
nav li:focus-within *,
nav li:hover .fa,
nav li:focus-within .fa {
    color: inherit;
}

nav li>a,
nav li>button {
    color: #fff;
    background-color: inherit;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 0 0 1rem;
}

nav li>a {
    display: block;
}

nav li>button {
    border: none;
    text-align: left;
    font-size: inherit;
    padding: 0 0 0 1rem;
}

nav li>button:hover {
    cursor: pointer;
}

nav li .fa {
    margin: 0 0.5rem;
    color: #BDD0F1;
}

/* Special padding setting for navigation list items with no icons
This setting allows the text to align with other items that do have icons */
nav li a.nav-no-icon {
    padding-left: 2.9rem;
}

nav ul.child-navigation-list {
    display: none;
}

nav li.contains-child-navigation-list.active ul.child-navigation-list {
    display: block;
}

nav ul.child-navigation-list {
    list-style: none;
    padding: 0.5rem 0 0.5rem 2.5rem;
    background-color: #2B497F;
    color: white;
}

nav ul.child-navigation-list li:hover,
nav ul.child-navigation-list li:focus-within {
    background-color: #2B497F;
}

nav ul.child-navigation-list li>a {
    font-weight: normal;
    line-height: 1.75rem;
    height: 1.75rem;
    display: revert;
}

nav ul.child-navigation-list li>a:hover,
nav ul.child-navigation-list li>a:focus {
    text-decoration: underline;
    font-weight: 700;
}


/*==========================================
MAIN CONTENT STYLES
==========================================*/

.title-banner {
    background-color: #BDD0F1;
    padding: 1rem;
}

.title-banner h1 {
    font-weight: 300;
    margin-top: 0;
}

/** Breadcrumb styles **/

ul.breadcrumb {
    list-style: none;
    padding-left: 0;
    font-size: 0.9rem;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    content: "/\00a0";
    padding: 0 0.5rem;
}

ul.breadcrumb li a {
    color: #2B497F;
    text-decoration: none;
    font-weight: 400;
}

ul.breadcrumb li a:hover,
ul.breadcrumb li a:focus {
    text-decoration: underline;
    font-weight: 700;
}

.narrow {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

/*==========================================
FOOTER STYLES
==========================================*/

footer p,
footer address,
footer dl {
    font-size: 0.9rem;
}

.contact-us {
    background-color: #2B497F;
    padding: 1.25rem 3.5rem;
}

.contact-us * {
    color: white;
}

.contact-us h2 {
    margin: 1rem 0;
}

.contact-us dt,
.contact-us dd {
    display: inline-block;
}

.contact-us dt::after {
    content: ": ";
}

.contact-us dd {
    margin-left: 0;
}

.contact-us address {
    margin-bottom: 1rem;
}

.copyright {
    color: #2B497F;
    width: 90%;
    margin: 0 auto;
}

.copyright p {
    text-align: center;
}

.copyright a:link {
    color: #2B497F;
}

.copyright a:visited {
    color: #909090;
}

.copyright a:hover,
.copyright a:focus {
    text-decoration: none;
    color: #BDD0F1
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.6rem;
    justify-content: space-evenly;
}

.footer-links li {
    flex: 1 1 auto;
    text-align: center;
}

.acknowledgement-of-country {
    font-size: 0.96rem;
    font-style: italic;
}

.small-footer-text {
    font-size: 0.7rem;
}

#wa-gov-website-link {
    display: block;
    text-align: center;
}